.site-navigation {
  @extend .navbar;
  @extend .navbar-default;
}

.site-navigation__container {
  @extend .container;
}

.site-navigation__header {
  @extend .navbar-header;
}

.site-navigation__toggle {
  @extend .navbar-toggle;
  @extend .collapsed;
}

.site-navigation__brand {
  @extend .navbar-brand;
}

.site-navigation__content {
  @extend .navbar-collapse;
  @extend .collapse;

  &--active {
    @extend .active;
  }
}

.site-navigation__list {
  @extend .nav;
  @extend .navbar-nav;

  &--left {
    @extend .site-navigation__list;
    @extend .navbar-left;
  }

  &--right {
    @extend .site-navigation__list;
    @extend .navbar-right;
  }
}