{% extends "webview/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "users/register.scss" %}" />
{% endblock %}

{% block navigation %}
    {% include "webview/navigation.html" with page="register" %}
{% endblock %}

{% block main %}

    <div class="register">
        <div class="register__container">
            <form class="register-form" method="post" action="">
                {% csrf_token %}

                {% include "webview/form_field_with_errors.html" with field=form.username %}

                {% include "webview/form_field_with_errors.html" with field=form.email %}

                {% include "webview/form_field_with_errors.html" with field=form.password1 %}

                {% include "webview/form_field_with_errors.html" with field=form.password2 %}

                <input class="button--primary" type="submit" value="Register" />
            </form>
        </div>
    </div>

{% endblock %}