{% extends "webview/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "users/users.scss" %}" />
{% endblock %}

{% block navigation %}
    {% include "webview/navigation.html" with page="users" %}
{% endblock %}

{% block main %}
    <div class="users">
        <div class="users__container">
            <header>
                <h1>Users:</h1>
            </header>
            <ul class="users__list">
                {% for user in users %}
                <li><a href="/users/{{ user }}">{{ user }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}