{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chirrup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    {% block css %}
    {% endblock %}
    {% endcompress %}
</head>
<body>

{% block navigation %}
{% endblock %}

<main class="site-container">
    {% block main %}
    {% endblock %}
</main>

{% compress js %}
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap-sass/assets/javascripts/bootstrap.js' %}'></script>
{% endcompress %}

</body>
</html>
