{% extends "webview/base.html" %}
{% load chirps %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "base/index_anon.scss" %}" />
{% endblock %}

{% block navigation %}
    {% include "webview/navigation.html" with page="home" %}
{% endblock %}

{% block main %}
    <div class="welcome">
        <header>
            <h1>Welcome to Chirrup!</h1>
        </header>
        <p>The place of chirps :)</p>
        <p><a class="welcome__action" href="/register" role="button">Get started</a></p>
    </div>
{% endblock %}