<nav class="site-navigation">
    <div class="site-navigation__container">
        <header class="site_navigation__header">
            <button type="button" class="site-navigation__toggle" data-toggle="collapse" data-target="#site-navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="site-navigation__brand" href="/">Chirrup</a>
        </header>
        <div class="site-navigation__content" id="site-navigation">
            <ul class="site-navigation__list">
                <li {% if page == "home" %}class="site-navigation__content--active"{% endif %}>
                    <a href="/">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li {% if page == "users" %}class="site-navigation__content--active"{% endif %}>
                        <a href="/users">Users</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="site-navigation__list--right">
                {% if user.is_authenticated %}
                    <li {% if page == "logout" %}class="site-navigation__content--active"{% endif %}>
                        <a href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li {% if page == "login" %}class="site-navigation__content--active"{% endif %}>
                        <a href="/login">Login</a>
                    </li>
                    <li {% if page == "register" %}class="site-navigation__content--active"{% endif %}>
                        <a href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>